<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Meu Site{% endblock %}</title>
</head>

<body>

    <header>
        <h1>Cadastro</h1>
    </header>
    <hr>

<nav>
    <a href="{% url 'index' %}">Início</a> |
    <a href="{% url 'contato' %}">Contato</a> |
    <a href="{% url 'adicionar' %}">Adicionar</a> |
    {% if user.is_authenticated %}
        Olá, {{ user.username }}! |
        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% else %}
    <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
</nav>

    <hr>

    <main>

        {{ teste | safe }}

        {% block conteudo %}{% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; 2026 Todos os direitos reservados - Cadastro! {{ nome | default:"Visitante" }}</p>
    </footer>

</body>

</html>