{% extends 'cadastro/base.html' %}

{% block titulo %}Cadastro - {{ pessoa.nome }}{% endblock %}

{% block conteudo %}
<article>
    <h2>Detalhes de {{ pessoa.nome }}</h2>
    <ul>
        <li><strong>ID:</strong> {{ pessoa.id }}</li>
        <li><strong>Nome:</strong> {{ pessoa.nome }}</li>
        <li><strong>E-mail:</strong> {{ pessoa.email }}</li>
        <li><strong>Idade:</strong> {{ pessoa.idade }} anos</li>
        <li><strong>Telefone:</strong> {{ pessoa.telefone }}</li>
        <li><strong>Apelido:</strong> {{ pessoa.apelido }}</li>
    </ul>
    
    <div class="acoes">
        <a class="botao" href="{% url 'editar' id=pessoa.id %}">Editar</a>
        <a class="botao botao-perigo" href="{% url 'deletar' id=pessoa.id %}">Deletar</a>
        <a class="botao botao-secundario" href="{% url 'index' %}">Voltar</a>
    </div>
</article>
{% endblock %}